<footer>
     <div class="container">
          <div class="row">
               <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h4>Tech Study Buddy</h4>
                    <h5>Focused on the world of tech certifications</h5>
               </div>
               <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h4>Created by Andrew Wilson</h4>
					<h5>Tech professional and perpetual student</h5>
               </div>
               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>
               <div class="col-md-12 col-sm-12">
                    <ul class="social-icon">
						<li><a href="https://linkedin.com/in/andrewwilson54" target="_blank" class="fa fa-linkedin"></a></li>
						<li><a href="https://fontawesome.com/" target="_blank" class="fa fa-pen-nib"></a></li>
						<li><a href="https://www.flaticon.com/" target="_blank" class="fa fa-thumbtack"></a></li>
						<li><a href="https://www.freepik.com/" target="_blank" class="fa fa-image"></a></li>
						<li><a href="http://www.tooplate.com/view/2085-neuron" target="_blank" class="fa-solid fa-laptop-code"></a></li>
					</ul>
               </div>
          </div>
     </div>
</footer>