<nav class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <a href="/" class="navbar-brand">Tech Study Buddy</a>
          </div>
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ '/posts/vendors/' | relative_url }}">VENDORS</a></li>
					<li><a href="{{ '/posts/reviews/' | relative_url }}">REVIEWS</a></li>
					<li><a href="{{ '/posts/blog/' | relative_url }}">BLOG</a></li>
                    <li><a href="{{ '/posts/about/' | relative_url }}">ABOUT</a></li>
               </ul>
          </div>
     </div>
</nav>