body {
	background: #95B8D1;
    font-family: 'Kantumruy Pro';
    font-style: normal;
    overflow-x: hidden;
	height: 100%;
	margin: 0;
}

h1,h2,h3,h4,h5 {
  font-family: 'Kantumruy Pro';
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 84px;
  margin-bottom: 0px;
  padding-bottom: 8px;
  color: #EBEBEB;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 3px 3px #333333;
}

h2 {
  font-size: 48px;
  padding-bottom: 8px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #EBEBEB;
  text-shadow: 2px 2px #333333;
}


h3 {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
}

h4 {
  color: #333333;
  font-size: 22px;
  font-weight: bold;
}

h5 {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}

p {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
}

.btn-success:focus {
  background-color: #F0EC57;
  border-color: transparent;
}

li {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

ul {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#333333;
  height: 1px;
}

blockquote {
    border-left: 5px solid #E8DDB5;
	font-style: italic;
	font-weight: 500;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333333;
  font-size: 24px;
}

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #333333;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page {
  padding-top: 4px;
  padding-bottom: 4px;
}

.page {
  height: 10vh;
}

.home-overlay {
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-overlay {
  background: rgba(0,0,0,0.1);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  overflow: hidden;
}

/*---------------------------------------
    Navigation             
-----------------------------------------*/

.navbar-default {
    background: #E8DDB5;
    margin: 0 !important;
    padding: 24px 0;
}

.navbar-default .navbar-brand {
  color: #333333;
  font-family: 'Kantumruy Pro';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #333333;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #218380 !important;
	font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #218380;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #218380;
	font-weight: bold;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #218380;
    background-color: transparent;
	font-size: 20px;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 8px;
	 color: #333333;
  }

.navbar-default .navbar-toggle .icon-bar {
    color: #333333;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: contain;
    background-position: center center;
    color: #EBEBEB;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
	text-transform: uppercase;
}

.home {
  background: url('../images/background.jpg') no-repeat;
  background-size: contain;
  height: 85vh;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 85vh;
  top: 0;
  left: 0;
}

#home h4 {
  color: #bfba55;
}

#home .btn {
  background: #333333;
  border: 2px solid #F0EC57;
  border-radius: 100px;
  color: #333333;
  font-family: 'Kantumruy Pro';
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px;
  margin-top: 42px;
  transition: all 0.75s ease-in-out;
}

#home .btn:hover {
  background: transparent;
  border-color: #333333;
  color: #333333;
}

/*---------------------------------------
   Page section              
-----------------------------------------*/

.post-thumb {
  border-bottom: 1px solid #333333;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}

.post-thumb:last-child {
  border-bottom: 0px;
  padding-bottom: 8px;
  margin-bottom: 0px;
}

.post-image,
.post-video {
  padding: 8px;
  width: 100%;
}

#page img,
.post-image img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.page {
  background: url('../images/title_background.png') no-repeat;
  background-size: cover;
}

.post-title a {
  color: #333333;
}

.post-title a:hover {
  color: #218380;
  font-size: 36px;
}

.post-format {
  padding-bottom: 8px;
}

.post-format span {
  font-weight: bold;
  font-size: 16px;
  padding-right: 4px;
}

.post-format span a {
  color: #333333;
}

.post-format span img {
  display: inline-block;
  width: 64px;
  margin-right: 12px;
}

.post-des blockquote {
  margin: 12px;
}

.post-des {
  margin: 12px;
}

.post-des .btn {
  border-radius: 100px;
  background: #333333;
  color: #95b8d1;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 24px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

.post-des .btn:hover {
  background: #E8DDB5;
  border-color: transparent;
  color: #333333;
}

.media a,

#page .col-md-6, #page .col-md-4,

/*---------------------------------------
   Gallery section              
-----------------------------------------*/

#gallery span {
  display: block;
  padding-bottom: 32px;
}

#gallery .col-md-6 {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#gallery .gallery-thumb {
  background-color: #E8DDB5;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.25);
  cursor: pointer;
  display: block;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#gallery .gallery-thumb:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#gallery .gallery-thumb img {
  width: 100%;
}

#gallery .col-md-12 p {
  padding-top: 16px;
  text-align: center;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background: #E8DDB5;
    color: #333333;
    padding: 24px 0px;
    position: relative;
	text-align: center;
}

footer .fa {
  color: #333333;
}

footer hr {
  border-color: #333333;
  margin-top: 12px;
  margin-bottom: 24px;
}

.go-top {
  background-color: #f0ec57;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .25 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333333;
  font-size: 24px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
    background: #218380;
    color: #f0ec57;
}

/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    border: 2px solid #333333;
    color: #333333;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.75s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0px 8px;
}

.social-icon li a:hover {
    border-color: #218380;
    color: #218380;
    transform: scale(1.25);
}

/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  .page {
    height: 20vh;
  }

}

@media (max-width: 900px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #page .col-md-6 img {
    padding-left: 0px;
  }
  
  footer {
    padding-top: 16px;
  }

}

@media (max-width: 650px) {

  h1 {
    font-size: 28px;
  }

  #page {
    padding-top: 12px;
    padding-bottom: 12px;
	padding-left: 4px;
    padding-right: 4px;
  }

}